<div class="flex justify-center">
  <div
    class="bg-white rounded-lg border-2 p-4 m-2 space-y-2 flex flex-col items-center"
    id="following-side"
  >

    <h1 class="bg-black text-white text-xl" id="following-h1">
      Following
    </h1>
    <div id="following-list">
      {{!-- Displays who the viewed user is following and provides a clickable link to their page --}}
      {{#each followedUsers}}
        <div id="following-user">
          <a href="/profile/{{user.username}}" id="following-user-a">@{{user.username}}</a>
        </div>
      {{/each}}
    </div>

  </div>
</div>