<div class="flex justify-center">
  <div
    class="bg-white rounded-lg border-2 p-4 m-2 space-y-2 flex flex-col items-center"
    id="news-side"
  >

    <h1 class="bg-black text-white text-xl" id="news-h1">
      News
    </h1>
    <div id="news-list">
        {{!-- News articles added through js --}}
    </div>

  </div>
</div>