<div class="w-full" id="createPostBox">
  <div class="p-6 space-y-4">
    <h1 class="text-lg font-bold">
      Y Post
    </h1>
    <form class="post-form space-y-4">
      <div>
        <textarea
          name="post-content"
          id="post-content"
          class="border rounded-lg block w-full p-2.5"
        ></textarea>
      </div>
      <button
        type="submit"
        class="border rounded-lg block w-full p-2.5 font-bold"
        id="postBtn"
      >
        Post
      </button>
    </form>
  </div>
</div>